@import "../../css/common.styles.css";

.headerContainer,
.createColumnDiv {
  padding: 50px;
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-green {
  background: var(--bg-green);
  align-items: initial;
}

.bg-green main {
  padding-top: 30px;
  display: flex;
}

.bg-green .createColumnDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.bg-blue {
  background: var(--bg-blue);
}
