// colors:

$main-1: #000000;
$main-2: #fff;
// $main-3: ;
// $main-4: ;
$error-red: #ff0000;
$hyperlink-blue: #0000ee;
$visited-purple: #551a8b;
$manila: #ecc975;
$manila-low-opacity: rgba(236, 201, 117, 0.6);
$emory-blue: #012169;
$emory-yellow: #f2a900;
$hopkins-light-blue: #68ace5;
$hopkins-light-blue-low-opacity: #68ace54d;
$hopkins-dark-blue: #1e376d;
$hopkins-dark-blue-low-opacity: #1e376d4d;
$harvard-red: #c90016;
$harvard-red-low-opacity: #c900178a;
$gray: #808080;
$cricket-green: #60a630;
$bright-orange: #ff9800;

// font-sizes:

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-medium: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-xs: 10px;

// box-shadows:

$shadow-light: 0px 1px 6px #00000029;
$shadow-medium: 0px 1px 6px #00000069;
$shadow-dark: 0px 1px 6px #000000;
